<header class="main-header">
    <ul class="navigation-list">
        <li class="navigation-link"><a href="#">Home</a></li>
        <li class="navigation-link"><a asp-controller="Product" asp-action="GetAllProducts">Shop</a></li>
        <li class="navigation-link"><a href="#">Cart</a></li>
        <li class="navigation-link"><a href="#">About us</a></li>
        <li class="navigation-link"><a href="#">Help</a></li>
        <li class="navigation-link"><a href="#">Contact us</a></li>
    </ul>
    <ul class="signs-list">
        <li class="sign"><a asp-action="SignUp" asp-controller="LogIn"><i class="far fa-user"></i></a></li>

        <li class="sign basket">
            <a href="#">
                <i class="fas fa-shopping-basket"></i>
            </a>
        </li>
    </ul>
</header>
